<div class=" bg-sign ">
  <div class="sign-layer p-5 ">

<div class=" w-50 rounded-3 m-auto border   p-5">
  <h2 class=" text-center p-3 title-s"> LogIn : </h2>
    <form [formGroup]='FormGroup2' class=" px-3" (ngSubmit)='formGroupData2(FormGroup2)'>
        <div *ngIf='errror' class=" alert alert-danger text-center">
            <h1>{{errror}}</h1>
        </div>

        <div class="form-group">
            <label class=" my-2" for="email"> Email : </label>
            <input formControlName='email' type="email" id="email" class=" form-control">
            <div *ngIf='FormGroup2.get("email")?.errors != null &&FormGroup2.get("email")?.touched' class=" alert alert-danger my-2">
                <p *ngIf='FormGroup2.get("email")?.errors?.required'> It Is Requierd</p>
                <p *ngIf='FormGroup2.get("email")?.errors?.email'>It Is UnAvilable</p>
            </div>
        </div>
        <div class="form-group">
            <label class=" my-2" for="password"> Password : </label>
            <input formControlName='password' type="password" id="password" class=" form-control">
            <div *ngIf='FormGroup2.get("password")?.errors != null &&FormGroup2.get("password")?.touched' class=" alert alert-danger my-2">
                <p *ngIf='FormGroup2.get("password")?.errors?.required'> It Is Requierd</p>
                <p *ngIf='FormGroup2.get("password")?.errors?.pattern'>It Must Start Upper Case </p>
            </div>
        </div>

        <button [disabled]='FormGroup2.invalid' class=" form-control my-4 btn btn-primary">LogIn</button>
    </form>
</div>
</div>
</div>
