/* You can add global styles to this file, and also import other style files */

@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

body{
    background-color: #131722;
    color: #fff;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.navbar{
    color: #fff;
}
.navbar a{
    text-decoration: none;
    color: #fff;
    font-weight: bolder;
}

.navbar a:hover{

    color: rgb(28, 106, 129);
}
.navbar .out{
    cursor: pointer;
}


.bg-sign{
  background-image: url(assets/1512237.jpg);
  background-size: cover;
  min-height: 100vh;
  font-weight: bolder ;
}
.sign-layer{
  background-color: rgba($color: #131722, $alpha: .6);
  min-height: 100vh;

}

.title-s{
  font-weight: bolder;
  border-bottom: .5px dashed rgba($color: #fff, $alpha: .6);
}
